/* basics first: body and divs
_________________________________________________*/
html, 
body {
	margin: 0;
	padding: 0;
    color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	background: #ffffff url(images/bgpcsc.gif) repeat-y 0 0;
}

body.search {
	background: #ffffff !important;
}


#nav {
    width: 150px;
	float: left;
	margin-left: -1px;
	padding: 10px;
    color: #000000;
	}


#content {
	padding: 10px;
    margin-left: 160px;
	width:600px;
    height:400px;
	}

/* the parameter height:400px above sets a minimum, height required for brainless IE6 which sometimes cuts off the menu (div nav) at the bottom of content. */

#searchresults {
	padding: 10px;
    margin-left: 10px;
	width:800px;
    height:1000px;
	}


#faq {
	padding: 10px; 
	margin-left: 160px; 
	width:600px; 
	color:#000000; line-height: 18px; text-decoration: none; font-family: Arial;  a:link:#000000; a:visited:#16d7e; a:hover:#c34a2c; 
}

#header {
    background-color: #000000;
    color: #FFFFFF;
	margin-bottom: 0px;
	}

.spacer {
	clear: both;
	}

/* now for specific styles
_________________________________________________*/



p { font-size: 9pt; }
th { background-color: #C0C0C0; }

.cntr {margin-left: auto; margin-right: auto; text-align: center; }


.nm {font-family: Arial; font-size: 9pt; color: #000000}

.bold {font-weight: bold; font-size: 9pt; color: #000000; font-family: Arial;}

.Title   {font-family: "Times Roman"; font-weight: bold; font-size: 52pt; color: #000000}

.Subtitle   {font-family: "Times Roman"; font-weight: bold; font-size: 28pt; color: #000000}

.Footer   {font-family: "Times Roman"; font-weight: bold;font-size: 18pt; color: #000000}


H2 {font-weight: bold; font-size: 18pt; color: #6f6f6f; font-family: Arial;text-align:left;}

H3 {font-weight: bold; font-size: 14pt; color: #6f6f6f; font-family: Arial; text-align:left;}

H4 {font-weight: bold; font-size: 9pt; color: #000000; font-family: Arial;}

H5 {font-weight: normal; font-size: 9pt;color: #545454; font-family: Arial;}

.member {font-weight: bold; font-size: 10pt; color: #ff0000; font-family: Arial; text-align:right;}
.mtitle {font-weight: bold; font-size: 14pt; color: #6f6f6f; font-family: Arial; text-align:left;}


input {font-family: Courier ; font-size: 9pt; color: #000000}

.semih3 {font-weight: bold;font-size: 12pt; color: #777777; font-family: Arial;}

.area {font-family: Courier ; font-size: 9pt; color:#000000}

.butt {font-family: Arial ; font-size: 9pt; color: #000000}


ul {margin-left:20pt; margin-top:0;font-family: Arial; font-size: 9pt; color: #000000}

li {font-family: Arial; font-size: 9pt; color: #000000;padding-top:5px;}


ul.infoheading {margin-left:20pt; margin-top:0; font-family: Arial; font-size: 8pt; color: #000000}

li.infoheading {font-family: Arial; font-size: 8pt; color: #000000; padding-top:5px;}


.InfoMenu {font-family: 'Arial Narrow'; font-weight: bold; color:#ffffff ;  font-size: 12pt; cursor:hand;}

.InfoMenuPressed {font-family: 'Arial Narrow'; font-weight: bold; color:#ffffff ;  font-size: 12pt; filter:gray;}

.PartnerAddress {font-family: 'Arial'; font-weight: bold; color:#000000; font-size: 9pt; }
A:link   {color: #ff0000;}

A:visited {color: #aa0000;}

A:active {color: #ff0000;}


.mymenu1 { font-weight: bold; font-size: 9pt; text-decoration: none; line-height:14pt;}

.mymenu2  {padding-left:5pt; font-weight: normal; font-size: 9pt; text-decoration: none; line-height:14pt;}


a.mymenu2:link { color: #ffffff; font-size: 9pt; text-decoration: none; }

a.mymenu2:visited { color: #ffffff; font-size: 9pt; text-decoration: none; }

a.mymenu2:hover   { color: #ffffff; font-size: 9pt; text-decoration: none; }

a.mymenu2:active  { color: #ffffff; font-size: 9pt; text-decoration: none; }


a.mymenu1:link    { color: #ffffff; font-size: 9pt; text-decoration: none; }

a.mymenu1:visited { color: #ffffff; font-size: 9pt; text-decoration: none;}

a.mymenu1:hover   { color: #ffffff; font-size: 9pt; text-decoration: none; }

a.mymenu1:active  { color: #ffffff; font-size: 9pt; text-decoration: none; }



a.productstitle:link { color: #6f6f6f; font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none; }

a.productstitle:visited { color: #6f6f6f;font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none;}

a.productstitle:hover { color: #ff0000; font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none; }
a.productstitle:active  { color: #6f6f6f; font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none; }


infoheading    { color: #6f6f6f; font-weight: bold; font-size: 10pt; font-family: Arial;}

.searchtitle    { color: #000000; background: #dddddd; font-weight: bold; font-size: 10pt; font-family: Arial;}
.searchhits    { color: #6f6f6f; background: #eeeeee; font-weight: normal; font-size: 10pt; font-family: Arial;}
.searchfooter    { color: #000000; background: #ddddff; font-weight: normal; font-size: 10pt; font-family: Arial;}
.jumplist    { color: #6f6f6f; font-weight: bold; font-size: 10pt; font-family: Arial;}

a.reglink:link { color: #aa0000; font-weight: bold; font-size: 9pt; font-family: Arial; text-align:left; text-decoration: none; }

a.reglink:visited { color: #aa0000; font-weight: bold; font-size: 9pt; font-family: Arial; text-align:left; text-decoration: none;}

a.reglink:hover { color: #ff0000; font-weight:bold; font-size: 9pt; font-family: Arial; text-align:left; text-decoration: none; }

a.reglink:active  { color: #6f6f6f; font-weight: bold; font-size: 9pt; font-family: Arial; text-align:left; text-decoration: none; }


a.faq:link {color: #000000; font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none;}

a.faq:visited {color: #616d7e;font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none;}

a.faq:hover {color: #c34a2c; font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none;}

a.faq:active {color: 000000; font-weight: bold; font-size: 10pt; font-family: Arial; text-align:left; text-decoration: none;}


